<section>
    <div class="container">
        <div class="row mt-3">
            
            <a href="/admin/add-product"><button type="button" class="btn btn-success" style="float: right;">Add Products</button></a>
        </div>
        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Movie</th>
                    <th scope="col">Category</th>
                    <th scope="col">Description</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <th scope="row">1</th>
                    <td>{{this.name}}</td>
                    <td>{{this.category}}</td>
                    <td>{{this.description}}</td>
                    <td><img style="width: 50px; height:50px" src="{{this.image}}"></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>