<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center mt-5">Order Placed Successfully</h2>
                <div class="text-center"><a href="/order-history" class="btn btn-primary">View Orders</a></div>
                
            </div>
        </div>
    </div>
</section>