<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center"><h1 class="mt-5">Order</h1></div>
        </div>
        <div class="row mt-4">
            {{#each orderProducts}}
            <div class="col-md-3 p-3">
                <div class="card" style="width: 16rem;height: 20rem">
                    <img src="/product-images/{{this.product._id}}.jpg" class="card-img-top" alt="..." style="height: 9rem; width: 16rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{this.product.name}}</h5>
                        <p>Price: ₹ {{this.product.price}}</p>
                        <p class="card-text">Quantity: {{this.quantity}}</p>
                        
                    </div>
                </div>
            </div>
        {{/each}}
        </div>
    </div>
</section>